<div class="row mt-2">
    <div class="col-sm-5 h5">
        <img class="img img-fluid mr-3" src="/static/photos/abb.png">
        Louisville
    </div>
    <div class="col-sm text-right">
        Louisville Service Center <br>
        240 Production Court <br>
        Louisville, KY 40299 <br>
        P: (502)-493-8000<br>
        F: (502)-493-0326<br>
        <a href="mailto: US-CustomerService.Louisville@abb.com?subject=Question from Website">Email Us</a>
    </div>
</div>