<div class="row mt-3 mb-3">
    <div class="col-sm-12 text-center">
        <a class="mx-2 btn" href="/">Legacy Search</a>
        <a class="mx-2 btn" href="/partHome">New Parts Search</a>
        <a class="mx-2 btn" href="http://catalog.industrialsolutions.abb.com/ecatalog/">Board Repair (E-Catalog)</a>
    </div>

</div>