<div class="row">
    <div class="col-sm">
       <!--Spacing--> 
    </div>
    <div class="col-sm-6 mt-3 text-center h4 text-success bg-light">
        <%= message %>
    </div>
    <div class="col-sm">
         <!--Spacing--> 
    </div>
</div>