<link rel='stylesheet' href='/static/css/placeholder.css'>
<div class="row mt-3">
    <div class="col-sm">
        <!--Spacing--> 
    </div>
    <div class="col-sm-6">
        <form action="/cardAdd" method="POST">
            <div class="form-group p-2 text-center">
                <label for="searchword">Enter Information</label>
                <input class="form-control my-3" type="text" name="partNumber" placeholder="Part Number" />
                <input class="form-control my-3" type="text" name="serialNumber" placeholder="Serial Number" />
                <input class="form-control my-3" type="text" name="binNumber" placeholder="Bin Number" />
                <input class="form-control my-3" type="text" name="binLocation" placeholder="Bin Location" />
                <button class="btn btn-danger m-2" type="submit">Add to Database</button>
            </div>
            <div class="form-group p-2 text-center">
                <a class="btn btn-secondary m-2" href="cardLogin/cardAdmin">Go Back to Admin Page</a>   
            </div>
        </form>
    </div>
    <div class="col-sm">
        <!--Spacing--> 
    </div>
</div>