<div class="row mt-3">
    <div class="col-sm">
        <!--Spacing--> 
    </div>
    <div class="col-sm-6">
        <form action="partSearchResultLV" method="POST">
            <div class="form-group p-2">
                <label class="h5" for="searchword">Enter a Part Number to search our stock </label>
                <small><br> Don't know your exact part or revision number? <br> You can enter a partial number. EX: 104x123 or</small>
                <a class="small ml-1" href="/partHome">Search by "Part" Number</a>
                <input class="form-control my-3" type="text" name="searchWord" placeholder="Enter a search value" />
                <button class="btn btn-danger m-2" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div class="col-sm">
        <!--Spacing--> 
    </div>
</div>