<div class="row mt-3">
    <div class="col-sm">
        <!--Spacing--> 
    </div>
    <div class="col-sm-6">
        <div class="text-center mb-4 h5">Admin for Parts DB
            <form action="/partHome/partUpdate" method="POST">
                <div class="form-group p-2 text-center">
                    <label for="searchword"></label>
                    <small><br> Please enter the exact part number. or</small>
                    <a class="small ml-1" href="/partLogin/partAdminLV">Search by "LV" Number</a>
                    <input class="form-control my-3" type="text" name="searchWord" placeholder="Enter Stocked As part # " oninput="this.value = this.value.toUpperCase()"/>
                    <button class="btn btn-danger m-2" type="submit">Search for Part to Edit</button>
                </div>
                <div class="form-group p-2 text-center">
                    <a class="btn btn-success m-2" href="/partHome/partAdd">Add Part to DB</br></a>
<!--                    <a class="btn btn-warning m-2" href="/partRequest/restockRequests">View Restock Requests</a>
                    <a class="btn btn-warning m-2" href="/partRequest/quoteRequests">View Quote Requests</a> -->
                </div>
                <div class="form-group p-2 text-center">
                    <a href="partLogout" class="btn btn-secondary">Logout</a>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm">
        <!--Spacing--> 
    </div>
</div>